<!DOCTYPE html>
<html ng-app='mainApp' ng-cloak>
<head>
    <title>Amateur Sports Stuff</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body align=center ng-controller='mvpCtrl1' >
  <div class="container contentContainer" id="topContainer"> <!-- class="container" creates a responsive fixed width container -->
    <div class='panel panel-default'>
      <div class='panel-heading'> <!-- Container for header of page -->
        <div id='bgPanelFiller'>
          <h1>AMATEUR SPORTS STUFF</h1>
            <h3>Get professional sports information about any team located in the city you select<h3>
              <h4>Team name, mascot, even popular hashtags...just click below<h4>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="container contentContainer" align=center>
    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
  </div>

  <!-- <section class='sportSection'> -->
  <div class='row container contentContainer' align=center>
    <div class='col-md-6'>
      <div class='dropStyles'>
          <h2>Select A Sport</h2>
          <div class='dropdown'>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span>Sport Types</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right sportsOption" aria-labelledby="dropdownMenu1">
              <br>
              <li ng-click='getSportData("baseball/mlb/teams")'><a href="#">Baseball</a></li>
              <li ng-click='getSportData("basketball/nba/teams")'><a href="#">Basketball</a></li>
              <li ng-click='getSportData("football/nfl/teams")'><a href="#">Football</a></li>
              <li ng-click='getSportData("hockey/nhl/teams")'><a href="#">Hockey</a></li>
              <!-- <li role="separator" class="divider"></li> -->
            </ul>

          </div>
    </div>
  </div>

  <!-- <section class='citySection'> -->
  <div class='col-md-6'>
    <div class='dropStyles'>
      <h2>Choose A City or State</h2>
        <section class='dropDownContainer'>
          <div class='dropdown'>
            <button class='btn btn-default dropdown-toggle' type='button' id='dropdownMenu2' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
              <span>Cities or State</span>
              <span class='caret'></span>
            </button>
              <ul class='dropdown-menu citiesList' aria-labelledby='dropdownMenu2'>
              <br>
                <li ng-repeat='city in cities'>
                  <button ng-click='dropBoxItemSelected(city.name)' align='center'><a href='#'>{{ city.name }}</a></button>
                </li>
                  <!-- <li role="separator" class="divider"></li> -->
              </ul>
          </div>
        </section>
    </div>
  </div>
  <br>
  <div class="container contentContainer">
    <section >
      <div class='teamPic'>

      </div>
    </section>

    <section>
      <div  class='teamData'>
      <table class='data-display'>
        <!-- ng-style='showTable' -->
          <th>
            <ul>
                <li>
                  <p>Team: {{ city.name }}</p>
                  <p>Mascot:  {{ city.nickname }}</p>
                  <p>Popular Hashtags: {{ city.hashtag }}</p>
                  <p>Motto: {{ city.hashtags[1] }}</p>
                </li>
            </ul>
          </th>
        </table>
      </div>
    </section>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src='/app/sports.js'></script>
  <script src='/app/services/services.js'></script>
  <script src='/app/app.js'></script>

  <!-- <div ng-view></div> -->
  </div>
  </body>
</html>
