<!DOCTYPE html>
<html ng-app='mvpApp1' ng-cloak>
<head>
    <title>WHO's Your Team?</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>
<body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
  <script src="//momentjs.com/downloads/moment.js"></script>

  <div class='container'>
   <section>
    <div><input id="date" type="text" name="date" readonly="readonly"></div>
   </section>
      <h1 class='header'>AMATEUR SPORTS STATS</h1>
      <h2 class="sub-title">Not A True Fan Of The Gridiron..</h2>
      <h2 class="sub-title">Or Baseball, Hockey Or Any Sport?</h2>
      <h2 class='sub-title'>Impress A Few Folks This Amateur Knowledge!</h2>
        <div class='display-wrapper' ng-controller='mvpCtrl1'>
          <form>
            <h3>Enter your city</h3><input type='text' placeholder="Enter A City" ng-model='mvpCity' autofocus />
            <button ng-click='getFootballData();getBasketballData();getBaseballData'>Get Team Info..</button>
            <!--<button ng-click='getFootballData();getBasketballData()'>Get Team Info..</button>-->
          </form>
          <hr>
          <h1>Results for: {{ mvpCity }} </h1>
        <!--<div class='data-display'>-->
        <table class='data-display'>
          <th>
            <ul>
                <li class='list-class' ng-repeat='team in teams' ng-if='mvpCity === team.name'>
                  <p>Football Team Name is: {{ team.name }}</p>
                  <p>Nickname:  {{ team.nickname }}</p>
                  <p>Popular Hashtags: {{ team.hashtag }}</p>
                  <p>Motto:     {{ team.hashtags[1] }}</p>
                </li>
            </ul>
            </th>
          <!--</div>-->
        <!--<div>-->
        <th>
         <ul>
            <li class='list-class' ng-repeat='bteam in bteams' ng-if='mvpCity === bteam.name'>
              <p>Baseball Team Name is: {{ bteam.name }}</p>
              <p>Nickname: {{ bteam.nickname }}</p>
              <p>Popular Hashtags: {{ bteam.hashtag }}</p>
              <p>Motto: {{ bteam.hashtags[1] }}</p>
            </li>
          </ul>
          </th>
          <!--</div>-->
        <!--</div>-->
          <th>
         <ul>
            <li class='list-class' ng-repeat='bkteam in bkteams' ng-if='mvpCity === bkteam.name'>
              <p>Basketball Team Name is: {{ bkteam.name }}</p>
              <p>Nickname: {{ bkteam.nickname }}</p>
              <p>Popular Hashtags: {{ bkteam.hashtag }}</p>
              <p>Motto: {{ bkteam.hashtags[1] }}</p>
            </li>
          </ul>
          </th>
          <!--</div>-->
        <!--</div>-->
        <th>
         <ul>
            <li class='list-class' ng-repeat='hteam in hteams' ng-if='mvpCity === hteam.name'>
              <p>Hockey Team Name is: {{ hteam.name }}</p>
              <p>Nickname: {{ hteam.nickname }}</p>
              <p>Popular Hashtags: {{ hteam.hashtag }}</p>
              <p>Motto: {{ hteam.hashtags[1] }}</p>
            </li>
          </ul>
          </th>
          <!--</div>-->
        <!--</div>-->

      <!--<script src='baseball.js'></script>-->
      <script>
        var currentDte = moment().format('llll');
          $('#date').val(currentDte);
      </script>
          
      <script src='football.js'></script>
      <div ng-view></div>
  </div>
  </body>
</html>
